Tina/Service References/RichServiceReference/RichService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGallery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="albumId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGalleryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGalleryResult" type="tns:ArrayOfGalleryImagePresentation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGalleryImagePresentation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GalleryImagePresentation" nillable="true" type="tns:GalleryImagePresentation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GalleryImagePresentation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlbumId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGallerySoapIn">
    <wsdl:part name="parameters" element="tns:GetGallery" />
  </wsdl:message>
  <wsdl:message name="GetGallerySoapOut">
    <wsdl:part name="parameters" element="tns:GetGalleryResponse" />
  </wsdl:message>
  <wsdl:portType name="RichServiceSoap">
    <wsdl:operation name="GetGallery">
      <wsdl:input message="tns:GetGallerySoapIn" />
      <wsdl:output message="tns:GetGallerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RichServiceSoap" type="tns:RichServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGallery">
      <soap:operation soapAction="http://tempuri.org/GetGallery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RichServiceSoap12" type="tns:RichServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGallery">
      <soap12:operation soapAction="http://tempuri.org/GetGallery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RichService">
    <wsdl:port name="RichServiceSoap" binding="tns:RichServiceSoap">
      <soap:address location="http://localhost:49516/RichService.asmx" />
    </wsdl:port>
    <wsdl:port name="RichServiceSoap12" binding="tns:RichServiceSoap12">
      <soap12:address location="http://localhost:49516/RichService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>